@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-height: 5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #121212;
	color: #f6f6f6;
}

main {
	margin-top: var(--navbar-height);
	min-height: calc(100vh - var(--navbar-height));
}

h1 {
	font-size: 2.4rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}

p,
span,
li {
	font-size: 0.9rem;
}

a {
	color: #976ef6;
}

a:hover {
	color: #8e5ffd;
}

li {
	list-style: disc;
	margin-left: 2rem;
}

/* Swiper */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-wrapper {
	display: flex;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
	color: rgb(229, 229, 229);
	background-color: rgba(9, 9, 9, 0.373);
	border-radius: 0.5rem;
	width: 2rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 1.4rem;
	font-weight: bold;
}

/* Login Page Utils*/

.centered-page-body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.wrapper {
	width: 420px;
	background: transparent;
	border: 2px solid white;
	border-radius: 20px;
	color: white;
	padding: 30px 40px;
}

.wrapper h1 {
	font-size: 36px;
	text-align: center;
	color: #ffffff;
}

.wrapper .input-box {
	position: relative;
	width: 100%;
	height: 52.5px;
	margin: 20px 0px;
}
.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 0.5rem;
	font-size: 16px;
	color: white;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
	color: white;
}

.input-box .icon {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
}

.wrapper .remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
}

.remember-forgot label input {
	accent-color: white;
	margin-right: 4px;
}
.remember-forgot a {
	color: white;
	text-decoration: none;
}
.remember-forgot a:hover {
	text-decoration: underline;
}

.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
}
.register-link p a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}
.register-link p a:hover {
	text-decoration: underline;
}
/* End of LoginPage Utils*/

.account-li {
	display: flex;
	align-items: center;
	list-style-type: none;
	font-size: 15px;
	text-align: left;
}
.account-li:hover {
	text-decoration: underline;
	cursor: pointer;
}
.account-li .icon {
	display: inline-block;
	margin-right: 10px;
	margin-left: -30px;
	padding-bottom: 1px;
	color: #fff;
}

.accountName {
	font-size: 18px;
	color: white;
	cursor: pointer;
}
.accountName:hover {
	text-decoration: underline;
}

.dropDownProfile {
	position: absolute;
	top: 4rem;
	right: 3rem;
	width: 220px;
	padding: 15px;
	border-radius: 15px 2px 15px 15px;
	background-color: rgb(33, 33, 33);
	border: 1px solid gray;
	color: white;
}
/* Scrollbar styles */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #4f4f4f;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #5a5a5a;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: linear-gradient(to top, #f229c3 28%, #7518d9 84%);
}

.password-requirements {
	display: none;
}

.password-requirements.visible {
	display: block;
}
